<!DOCTYPE html>
<html>
<head>
  <title>User Management</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>User Management</h1>
  </header>
  <main>
    <ul>
      <% users.forEach(user => { %>
        <li>
          <h2><%= user.username %></h2>
          <p>Role: <%= user.role %></p>
          <a href="/admin/users/<%= user._id %>/edit">Edit</a>
        </li>
      <% }) %>
    </ul>
  </main>
</body>
</html>
