<!DOCTYPE html>
<html>
<head>
  <title>Courses</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Courses</h1>
  <ul>
    <% courses.forEach(course => { %>
      <li><%= course.title %>: <%= course.description %></li>
    <% }) %>
  </ul>
  <a href="/teacher/createCourse">Create New Course</a>
</body>
</html>
