<!DOCTYPE html>
<html>
<head>
  <title>Grades</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Grades</h1>
  </header>
  <main>
    <ul>
      <% grades.forEach(grade => { %>
        <li>
          <h2><%= grade.courseTitle %></h2>
          <p>Grade: <%= grade.grade %></p>
        </li>
      <% }) %>
    </ul>
  </main>
</body>
</html>
