<!-- quizResult.ejs -->
<h2>Your Quiz Result</h2>
<p>You scored <%= score %> out of <%= totalQuestions %>.</p>
<p>Your percentage score is <%= percentageScore %>%. </p>

<a href="/student/dashboard">Back to Dashboard</a>
